<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <title>About Me</title>
  </head>
  <body>
    <header>
      <nav class="navbar mx-4 fixed navbar-expand-lg navbar-default">
        <a id="head" class="navbar-brand gol" href="/">CHNsPart</a>
        <button
          style="outline: none"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i
              class="fa fa-bars gol"
              style="outline: none; font-size: 28px"
            ></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav gol ml-auto">
            <a class="nav-item gol nav-link" href="/designs">designs</a>
            <a class="nav-item gol nav-link" href="/contact">contact</a>
            <a class="nav-item gol nav-link" href="/aboutme">about me</a>
            <a class="nav-item gol nav-link" href="/projects">projects</a>
          </div>
        </div>
      </nav>
    </header>
      <h1 class="aboutme text-center mt-4">About Me</h1>
      <p class="cv-text text-center">Kind of a CV</p>
      <div class="cv-boy p-4">
      <div class="cv-pic-box p-5"></div>
      <div class="container mt-5">
        <div class="d-flex box">
          <div class="title">Name</div>
          <div class="desc">Touhidul Islam Chayan</div>
        </div>
        <div class="d-flex box">
          <div class="title">Address</div>
          <div class="desc">24/4 Greenroad Staff-Quarter, Dhaka-105</div>
        </div>
        <div class="d-flex box">
          <div class="title">Birthday</div>
          <div class="desc">October 17, 1997</div>
        </div>
        <div class="d-flex box">
          <div class="title">E-mail</div>
          <div class="desc">imchn24@gmail.com</div>
        </div>

        <div class="Edu-t mt-5 title">Skills</div>
        <div class="inside ml-4">
          <div class="d-flex box">
            <div class="title">Graphics</div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Images</div>
            <div class="desc">
              <img
                src="img/adobe/001-photoshop.png"
                height="50px"
                width="50px"
              />
              Abode Photoshop
            </div>
            <div class="desc">
              <img
                src="img/adobe/023-illustrator.png"
                height="50px"
                width="50px"
              />
              Abode Illustrator
            </div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Videos</div>
            <div class="desc">
              <img
                src="img/adobe/048-premiere-1.png"
                height="50px"
                width="50px"
              />
              Abode Premier Pro
            </div>
            <div class="desc">
              <img
                src="img/adobe/049-after-effects.png"
                height="50px"
                width="50px"
              />
              Abode After Effects
            </div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">3D</div>
            <div class="desc">
              <img src="img/web/maya.png" height="50px" width="50px" />
              Maya 3D
            </div>
            <div class="desc">
              <img
                src="img/adobe/046-dimension.png"
                height="50px"
                width="50px"
              />
              Adobe Dimension
            </div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Languages</div>
            <div class="desc">
              <img src="img/web/html-5.png" height="50px" width="50px" />
              HTML-5
            </div>
            <div class="desc">
              <img src="img/web/css.png" height="50px" width="50px" />
              CSS-3
            </div>
            <div class="desc">
              <img src="img/web/javascript.png" height="50px" width="50px" />
              JavaScript
            </div>
            <div class="desc">
              <img src="img/web/python.png" height="50px" width="50px" />
              Python
            </div>
            <div class="desc">
              <img src="img/web/java.png" height="50px" width="50px" />
              Java
            </div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Backend</div>
            <div class="desc">
              <img src="img/web/node.png" height="50px" width="50px" />
              Node JS
            </div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Frameworks & Library's</div>
            <div class="desc">
              <img src="img/web/react.png" height="50px" width="50px" />
              React
            </div>
            <div class="desc">
              <img src="img/web/jquery.png" height="50px" width="50px" />
              JQuery
            </div>
            <div class="desc">
              <img src="img/web/bootstrap.png" height="50px" width="50px" />
              Bootstrap 5
            </div>
          </div>

          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Database</div>
            <div class="desc">
              <img src="img/web/mongodb.png" height="50px" width="50px" />
              MongoDB
            </div>
            <div class="desc">
              <img src="img/web/mysql.png" height="50px" width="50px" />
              MySQL
            </div>
          </div>

          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Version Controller</div>
            <div class="desc">
              <img src="img/web/github.png" height="50px" width="50px" />
              Github
            </div>
            <div class="desc">
              <img src="img/web/bitbucket.png" height="50px" width="50px" />
              Bit Bucket
            </div>
          </div>
          <div class="d-flex ml-4 mt-3 box">
            <div class="title">Deployment</div>
            <div class="desc">
              <img src="img/web/heroku.png" height="50px" width="50px" />
              Heroku
            </div>
          </div>
        </div>

        <div class="Edu-t mt-5 title">Educational Qualification</div>

        <div class="inside ml-4">
          <div class="d-flex box">
            <div class="title">Program</div>
            <div class="desc">
              Bachelor in Computer Science and Engineering (CSE)
            </div>
          </div>
          <div class="d-flex box">
            <div class="title">Institution</div>
            <div class="desc">BRAC University</div>
          </div>
          <div class="d-flex mt-3 box">
            <div class="title">H.S.C</div>
            <div class="desc">Dhaka City College</div>
          </div>

          <div class="d-flex box">
            <div class="title">Group</div>
            <div class="desc">Science</div>
          </div>
          <div class="d-flex box">
            <div class="title">Year of Passing</div>
            <div class="desc">2016</div>
          </div>
          <div class="d-flex mt-3 box">
            <div class="title">S.S.C</div>
            <div class="desc">Mohammadpur Model School and College</div>
          </div>
          <div class="d-flex box">
            <div class="title">Group</div>
            <div class="desc">Science</div>
          </div>
          <div class="d-flex box">
            <div class="title">Year of Passing</div>
            <div class="desc">2014</div>
          </div>
        </div>
      </div>
        <script src="/js/play.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
