<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="/img/C.W.png">
  <link rel="stylesheet" href="/css/app.css" />
    <title>Contacts</title>
  </head>

  <body>
    <header>
      <nav class="navbar mx-4 fixed navbar-expand-lg navbar-default">
        <a id="head" class="navbar-brand gol" href="/">CHNsPart</a>
        <a href="whatsapp://send?phone=+8801794603301&text="Hello, I am Touhidul Islam Chayan, How Can I help you?" target="_blank">
        <img class="float" src="/img/round.png" alt="Brand Logo">
        <i id="whatsapp" class="fa fa-whatsapp float2"></i>
      </a>
        <button
          style="outline: none"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i
              class="fa fa-bars gol"
              style="outline: none; font-size: 28px"
            ></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav gol ml-auto mt-3">
            <a class="nav-item gol nav-link" href="/designs">designs</a>
            <a class="nav-item gol nav-link" href="/contact">contact</a>
            <a class="nav-item gol nav-link" href="/aboutme">about me</a>
            <a class="nav-item gol nav-link" href="/projects">projects</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="mail-box">
      <small>Mail me at</small>
      <h1 id="mail" class="grad">imchn24@gmail.com</h1>
    </div>
    <div class="c-body">
      <div class="contact-box-img">
        <img
          class="fb-pic"
          src="/img/fb-pic.jfif"
          alt="fb-pic"
          height="200px"
          width="200px"
        />
      </div>
      <div class="contact-box">
        <h3>
          Cell
          <a href="tel:+880-152-143-4527"
            ><span class="number">01521434527</span></a
          >
        </h3>
      </div>
      <div class="contact-box">
        <h3>
          Facebook
          <span id="fbname" class="number fbname">Touhidul Islam Chayan</span>
        </h3>
      </div>
    </div>
    <footer>
      <p class="lead">©2020-Touhidul Islam Chayan</p>
    </footer>
    <script src="/js/play.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
