<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/app.css" />
    <title>Designs</title>
  </head>

  <body>
    <header>
      <nav class="navbar mx-4 fixed navbar-expand-lg navbar-default">
        <a id="head" class="navbar-brand gol" href="/">CHNsPart</a>
        <button
          style="outline: none"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i
              class="fa fa-bars gol"
              style="outline: none; font-size: 28px"
            ></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav gol ml-auto">
            <a class="nav-item gol nav-link" href="/designs">designs</a>
            <a class="nav-item gol nav-link" href="/contact">contact</a>
            <a class="nav-item gol nav-link" href="/aboutme">about me</a>
            <a class="nav-item gol nav-link" href="/projects">projects</a>
          </div>
        </div>
      </nav>
    </header>
    <img class="doge" src="/img/doge.png" alt="" />
    <h3 class="text-center">Site Underm Comnstruction!</h3>
    <footer>
      <p class="lead">©2020-Touhidul Islam Chayan</p>
    </footer>
    <script src="/js/play.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
