<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="/img/C.W.png">
  <link rel="stylesheet" href="/css/app.css" />
  <title>CHNsPart</title>
</head>

<body>
  <header>
    <nav class="navbar mx-4 fixed navbar-expand-lg navbar-default">
      <%#<a id="head" class="navbar-brand gol" href="/">CHNsPart</a>%>
      <a href="/"><img id="headLogo" src="/img/C.G.svg" alt="CHNsPart Logo"></a>

      <a href="whatsapp://send?phone=+8801794603301&text="Hello, I am Touhidul Islam Chayan, How Can I help you?" target="_blank">
        <img class="float" src="/img/round.png" alt="Brand Logo">
        <i id="whatsapp" class="fa fa-whatsapp float2"></i>
      </a>

      <button style="outline: none;" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars gol" style="outline: none; font-size: 28px;"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav gol ml-auto mt-3">
          <a class="nav-item gol nav-link" href="/designs">designs</a>
          <a class="nav-item gol nav-link" href="/contact">contact</a>
          <a class="nav-item gol nav-link" href="/aboutme">about me</a>
          <a class="nav-item gol nav-link" href="/projects">projects</a>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main>
      <div id="mouse" class="mouse text-center">
        <h1 id="hh1" class="hh1 display-1 p-5">
          Touhidul Islam Chayan
        </h1>
        <div class="smaller d-none d-sm-block">
          <span class="small"> Software Engineer<span class="gol">/</span> </span>
          <span class="small"> UI-UX Designer<span class="gol">/</span> </span>
          <span class="small">
            Graphics Designer
          </span>
        </div>
        <a id="callBtn" class="animate__animated animate__fadeInDown btn m-5 btn-outline-warning btn-sm"
          href="/contact"><i class="fa pink fa-spin fa-globe" aria-hidden="true"></i> Contact Me</a>
        <a class="downbtn" href="/aboutme">
          <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
  </div>
  <div class="flexIcon animate__animated animate__bounceIn">
    <a href="https://facebook.com/CHNsPart">
      <i id="ico" class="fa fa-facebook" aria-hidden="true"> </i></a>
    <a href="https://www.behance.net/CHNsPart">
      <i id="ico" class="fa fa-behance" aria-hidden="true"></i></a>
    <a href="https://github.com/CHNsPart">
      <i id="ico" class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://instagram.com/CHNsPart">
      <i id="ico" class="fa fa-instagram" aria-hidden="true"> </i></a>
    <a href="mailto: imchn24@gmail.com">
      <i id="ico" class="fa fa-envelope  aria-hidden=" true"></i></a>
    <span class="socBar"></span>
    </main>
  </div>
</body>
<script src="/js/play.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>