<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/img/C.W.png" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Projects</title>
  </head>

  <body>
    <header>
      <nav class="navbar mx-4 fixed navbar-expand-lg navbar-default">
        <a href="/"><img id="headLogo" src="/img/C.G.svg" alt="CHNsPart Logo"></a>
        <a href="whatsapp://send?phone=+8801794603301&text="Hello, I am Touhidul Islam Chayan, How Can I help you?" target="_blank">
        <img class="float" src="/img/round.png" alt="Brand Logo">
        <i id="whatsapp" class="fa fa-whatsapp float2"></i>
      </a>
        <button
          style="outline: none"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i
              class="fa fa-bars gol"
              style="outline: none; font-size: 28px"
            ></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav gol ml-auto mt-3">
            <a class="nav-item gol nav-link" href="/designs">designs</a>
            <a class="nav-item gol nav-link" href="/contact">contact</a>
            <a class="nav-item gol nav-link" href="/aboutme">about me</a>
            <a class="nav-item gol nav-link" href="/projects">projects</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1 class="display-1 text-center">Projects</h1>
      <div class="card my-5">
        <img class="card-img-top" src="/img/CHNsRGB.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">CHNsRGB Color Guessing Game</h5>
          <p class="card-text">
            This idle game has 2 segment, Hard and Easy. Hard generates 6 color
            and easy generates 3 colors. You have to guess the color by reading
            the RGB code of the color which will be given.
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">Idle Game - Javascript</small>
            </p>
            <a
              href="https://chns-rgb-game.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Play</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/shnax.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">ShnaX</h5>
          <p class="card-text">
            A platform where you can upload you mid-night snacks recipie.
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - Node/Express</small>
            </p>
            <a
              href="https://shnax.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Show</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/Kovid-19.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">Kovid-19</h5>
          <p class="card-text">
            An webApp which generated real time data of Covid-19 updates by
            countries. Data taken from
            "covid-19-coronavirus-statistics.p.rapidapi.com" and
            "api.covid19api.com".
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - Node/Express</small>
            </p>
            <a
              href="https://kovid-19-app.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Show</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/your-thot.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">Your Thots</h5>
          <p class="card-text">
            An anonymous platform where anyone can post anything and anyone can
            edit or delete it. (Makes no sense)
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - Node/Express</small>
            </p>
            <a
              href="https://your-thots.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Show</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/Rel-X.png" alt="Rel-X" />
        <div class="card-body">
          <h5 class="card-title">Rel-X</h5>
          <p class="card-text">
            An app for relax breathing with soothing music [Original]
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - PHP/Javasript</small>
            </p>
            <a
              href="https://chnspart.github.io/Rel-X/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Show</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/CHNsOllywood.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">CHNsOllywood</h5>
          <p class="card-text">
            An API based webapp which will generate Ratings/Review/Plots and etc
            according to your query. It can be a movie, a series, a shortfilm or
            anything which has in that API data. Data taken from "OMDBI"
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - Node/Express</small>
            </p>
            <a
              href="https://chnsollywood.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Show</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/CHNsToDo.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">CHNsToDo</h5>
          <p class="card-text">Just an online todo! Nothing else.</p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - Javascript</small>
            </p>
            <a
              href="https://chns-todo.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Show</a
            >
          </div>
        </div>
      </div>
      <div class="card my-5">
        <img class="card-img-top" src="/img/tapnbeat.png" alt="CHNsRGB" />
        <div class="card-body">
          <h5 class="card-title">TapNBeat</h5>
          <p class="card-text">
            An music based app. You press certain buttons to create individual
            sound for each key.
          </p>
          <div class="down-card">
            <p class="card-text">
              <small class="text-muted">WebApp - Paper.JS</small>
            </p>
            <a
              href="https://tapnbeat.herokuapp.com/"
              type="button"
              id="btn-card"
              class="btn btn-outline-warning"
              >Play</a
            >
          </div>
        </div>
      </div>
      <hr><hr>
    </div>
    <footer>
      <p class="lead">©2020-Touhidul Islam Chayan</p>
    </footer>
    <script src="/js/play.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
